<div id="wrapper">
    <div id="header">
        <h1>About us</h1>
    </div>
    <div id="first-page">
        <div id="greetings">
            <h1>Hi! We are Librarium.</h1>
        </div>
        <div id="description-1">
            <h2>The world's most loved social book reading platform.</h2>
        </div>
        <div id="description-2">
            <h3>The Librarium brings together a global community of 10 million readers and writers through its uniqueness.</h3>
        </div>
        <div id="movie-1">
            <video src="/assets/images/aest.mp4" controls autoplay loop id="aest-1"></video>
        </div>
    </div>
    <div id="second-page">
        <div id="our-story">
            <h2>We, students of the School of Information Technology, decided to create a website for reading books as part of the Web Development project. Our motivation is to create a convenient and accessible resource for people who love to read books and want to be able to share their experiences and connect with other readers.</h2>
        </div>
        <div id="movie-2">
            <video src="/assets/images/aest-2.mp4" controls autoplay loop id="aest-2"></video>
        </div>
    </div>
    <div></div>
</div>