<div id="wrapper">
    <div id="first-page">
        <div>
            <h1>Hi! We are Librarium.</h1>
        </div>
        <div>
            <h2>The world's most loved social book reading platform.</h2>
        </div>
        <div>
            <h3>The Librarium brings together a global community of 10 million readers and writers through its uniqueness.</h3>
        </div>
    </div>

    <div id="second-page">
        <div id="our-story">
            <h2>We, students of the School of Information Technology, decided to create a website for reading books as part of the Web Development project. Our motivation is to create a convenient and accessible resource for people who love to read books and want to be able to share their experiences and connect with other readers.</h2>
        </div>

    </div>

</div>