#const-part {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 150px;
  top: 80px;
  width: 200px;
}

#read {
  margin-left: -15px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #3F8363;
  color: white;
  font-size: 17px;
}

#fav {
  border: 1px solid #3F8363;
  background-color: rgb(255, 255, 255);
  margin-left: -15px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

#share-book {
  width: 300px;
  font-size: 18.5px;
  margin-left: 40px;
}

#medias {
  margin-left: 50px;
}

#characteristics {
  margin-top: -480px;
  margin-left: 480px; 
  width: 650px;
}

#b-title {
  font-family: 'Playfair Display';  
  font-weight: bold; 
  font-size: 44px;
  color: #1e1915;
}

#b-author {
  font-family: 'Libre Baskerville', serif;
  font-size: 26px;
  color: #413e3a;
  margin-top: -30px;
}

#b-description {
  font-family: 'Proxima Nova', sans-serif;
  color: #1e1b19;
}

#b-category {
  font-style: italic;
}

#line {
  margin-left: 480px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  border-bottom: 1px solid black;
}

#comments, #reviews {
  margin-left: 480px; /* adjust the margin value to your preference */
}

#comments p, #reviews p {
  margin-bottom: 5px;
}

#const img {
  width: 270px;
  height: 320px;
}

#const button {
  margin-top: 10px;
}

#const #share-book {
  margin-top: 10px;
  margin-bottom: 5px;
}

#const .media {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}

.cool-word {
  padding-left: 2px;
  font-size: 30px;
  padding-bottom: 20px;
}

/* Comments */

#comments {
  margin: 20px;
  padding: 10px;
  width: 45%;
  margin-left: 480px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.cool-word {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 0;  
  margin-top: 10px;
}

#comment {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

#comment p:first-child {
  font-weight: bold;
  margin: 0 0 5px 0;
}

#comment-content {
  margin: 0 0 10px 0;
}

#comment-date {
  font-style: italic;
  color: #999;
  margin: 5px 0 0 0;
}

label {
  display: block;
  font-weight: bold;
  margin: 20px 0 5px 0;
  padding-left: 5px;
}

input[type="text"] {
  padding: 5px;
  margin-left: 5px;
  width: 92%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

/* Reviews */
#reviews {
  background-color: #c8f9ce;
  padding: 20px;
  width: 59%;
}

#reviews .cool-word {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#reviews #comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#reviews #comment p {
  margin: 0;
}

#reviews #comment p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

#reviews #comment p:nth-child(2) {
  color: #999;
  margin-bottom: 5px;
}


#extra-books {
  margin-bottom: 20px;
  margin-left: 480px;
  padding-left: 20px;
}

#extra-word {
  font-size: 25px;
  font-weight: bold;
}

#extra-image {
  width: 200px;
  height: 250px;
}

#extra-title {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin: 5px 18px;
}

#extra-author {
  margin-left: 30px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 15px;
}

#extra-year {
  margin-top: -10px;
  font-size: 12px;
  font-style: italic;
  color: #333;
  margin-left: 80px;
}

#review-writing {
  background-color: #ffffff;
}

#would-you {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 35px;
  font-weight: bold;
}

#help-others {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 25px;
}