<!-- Top-Bar Panel -->
<div id="top-bar">
    <img id="logo-img" src="assets/images/Logo.png">
    <h2 id="logo-text">Librarium</h2>
    <div id="categories">
        <a routerLink="/home">Home</a>
        <a routerLink="/books">Books</a>
        <a routerLink="/contact">Contact</a>
    </div>
    <div id="login-block">
        <a routerLink="/sign-in">Sign in</a>
        <a routerLink="/sign-up">Sign up</a>
    </div>
</div>
<div id="line"></div>

<!-- First page -->
<div id="first-page">
    <p><span class="label-text">Get lost in a good book.</span><br><br>
        Immerse yourself in a great story and let your imagination run wild.<br>
        <br>Librarium offers a wide range of books to get lost in, 
        so start exploring our library today and find your next adventure!<br><br> 
        <button class="green-button" onclick="location.href='sign-in';">Get started! ></button></p>
        <img id="book-shelf" src="assets/images/bookShelf.png">
</div>

<!-- <img id="arrow" src="assets/images/arrowr.png"> -->

<!-- Second page -->
<div id="second-page">
    <img id="laptop-img" src="assets/images/laptop.png">
    <div>
        <p span class="label-text">Discover new books and authors absolutely free!</p>
        <p>Our website offers a vast selection of free books,<br>
            including popular bestsellers and hidden gems waiting to be discovered.<br><br>
            With no subscription fees or hidden costs, you can enjoy<br>
            unlimited access to our collection without breaking the bank.</p>
    </div>
</div>
<!-- Second page end -->

<!-- Arrow -->
<!-- <img id="arrowr" src="assets/images/arrow.png"> -->
  

<!-- Third page -->
<p class="label-text" id="review-label">Join millions of happy readers.</p>
<div id="third-page">
    <div class="review">
        <img class="review-image" src="assets/images/stars.png">
        <p class="review-text">"WOW! Such amazing website! O my Gooooood!"</p>
        <p class="review-author">Sierra Mallow</p>
    </div>
    <div class="review">
        <img class="review-image" src="assets/images/stars.png">
        <p class="review-text">"Some text. Some text. Some text. Some text. Some text."</p>
        <p class="review-author">Some author</p>
    </div>
    <div class="review">
        <img class="review-image" src="assets/images/stars.png">
        <p class="review-text">"Some text. Some text. Some text. Some text. Some text."</p>
        <p class="review-author">Some author</p>
    </div>
</div>
  
<!-- Footer -->
<footer>
    <div id="footer-bar">
        <p id="footer-logo">Librarium</p>
    </div>
    <div id="footer-line"></div>
    <div id="footer-blocks">
        <div>
            <p class="footer-header">Company</p>
            <a>About us</a><br>
            <a>Careers</a><br>
            <a>Privacy Policy</a><br>
            <a>Help</a>
        </div>
        <div>
            <p class="footer-header">Work with us</p>
            <a>Authors</a><br>
            <a>Some link</a><br>
        </div>
        <div>
            <p class="footer-header" id="connect">Connect</p>
            <a href=""><img class="media-icon" src="assets/images/facebook.png"></a>
            <a href=""><img class="media-icon" src="assets/images/instagram.png"></a>
            <a href=""><img class="media-icon" src="assets/images/twitter.png"></a>
            <a href=""><img class="media-icon" src="assets/images/telegram.png"></a>
        </div>
    </div>
    <p id="footer-end">&copy; 2023 Librarium. All rights reserved.</p>
</footer>